*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Fredoka One', cursive;
    background-color: #fffffe;
}

.container{
    width: 60%;
    margin: 0 auto;
}

section>h1{
    color:#e43470;
    text-align: center;
    padding-top: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
} 

p{
    padding-top:2rem;
    margin: 1.5rem;
    font-size: 1rem;
    text-align: center;
    font-style: normal;
}

.box-cards::after{
    content: "";
    display: table;
    clear: both;
}

section.cards-area{
    padding: 2rem;
}

.card{
    width: calc(100% /3 - 20px);    
    height: 100px;
    background-color: #0f0e17;
    margin: 10px;
    float: left;
    box-shadow: 0 0 10px gray;
}

.card::after{
    content: "";
    display: table;
    clear: both;
}

.card img{
    height: 100%;
    float: left;
}

span{
    display: inline-block;
    color: white;
    padding-left: 1rem;
    padding-top: 0.6rem;
}


a{
    color: #72c8e9;
    padding-left: 1rem;
}